* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-component {
  display: flex;
  width: 560px;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
}

img {
  width: 280px;
  height: auto;
  object-fit: cover;
}

.product-description {
  width: 280px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  background-color: hsl(0, 0%, 100%);
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: grey;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 1.75rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: rgb(168, 166, 166);
  font-weight: 510;
  line-height: 1.3rem;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#active-price {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
  font-weight: 700;
}

#original-price {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: rgb(168, 166, 166);
  font-weight: 510;
  text-decoration: line-through;
}

button {
  background-color: hsl(158, 36%, 37%);
  display: flex;
  justify-content: center;
  color: white;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  gap: 1rem;
}

button:hover {
  background-color: hsl(158, 67%, 14%);
  cursor: pointer;
}

@media (max-width: 640px) {
  img {
    content: url(image-product-mobile.jpg);
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  #product-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 500px;
    height: auto;
    
  }

  .product-description {
    width: 100%;
    padding: 2rem;
    background-color: hsl(0, 0%, 100%);

  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 500;
  }

  body {
    padding: 3rem;
  }
}
